<h3>Confirm your order</h3>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Salesman</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @order.evil_artifact.name %></td>
      <td><%= @order.evil_artifact.user.codename %></td>
      <td><%= @order.evil_artifact.price %></td>
      <td><%= @order.quantity %></td>
      <td><%= @order.total %></td>
    </tr>
  </tbody>
</table>
