<div class="position-relative">
  <div class="card-category card-large" style="background-image: url(<%= asset_path('poison_cover.jpg')%>)">
  <h1 class="text-danger">POISON</h1>
</div>
<div class="container my-3">
  <div class="card-product">
    <%= image_tag asset_path('poison_product.jpg')%>
      <div class="card-product-infos">
        <% @evil_artifacts.each do |artifact| %>
          <%= link_to evil_artifact_path(artifact) do %>
            <h2><%= artifact.name %></h2>
            <p><%= "$#{artifact.price}" %><p>
            <p><%= "Owner: #{artifact.user.codename}" %><p>
          <% end %>
        <% end %>
      </div>
  </div>

<%= link_to 'Back', evil_artifacts_path, class:'btn btn-red mt-3' %>
</div>
