<div class="container">
  <% @evil_artifacts.each do |artifact| %>
    <%= link_to evil_artifact_path(artifact) do %>
      <div class='card'>
        <p><%= "Name: #{artifact.name}" %></p>
        <p><%= "Price: #{artifact.price}" %><p>
        <p><%= "Owner: #{artifact.user.codename}" %><p>
      </div>
    <% end %>
    <%= link_to 'Back', evil_artifacts_path %>
  <% end %>
</div>
