<div class="position-relative">
  <div class="card-category card-large" style="background-image: url(<%= asset_path('homepage_cover.jpg')%>)">
    <h1>The best products for the nastiest intetions</h1>
</div>


<div class="">
  <div class="">
    <% @evil_categories.each do |category| %>
      <%= link_to category.downcase.gsub(' ', '_'), artifacts_of_a_category_evil_artifacts_path(category) %>
    <% end %>
  </div>
</div>


<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active row d-flex justify-content-center">
        <div class="col-3">
          <div class="card-category" style="background-image: url(<%= asset_path('poison_cover.jpg')%>)">
            <h1 class="text-danger">POISON</h1>
          </div>
        </div>
        <div class="col-3">
          <div class="card-category" style="background-image: url(<%= asset_path('poison_cover.jpg')%>)">
            <h1 class="text-danger">POISON</h1>
          </div>
        </div>
        <div class="col-3">
          <div class="card-category" style="background-image: url(<%= asset_path('poison_cover.jpg')%>)">
            <h1 class="text-danger">POISON</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item row d-flex justify-content-center">
        <div class="col-3">
          <div class="card-category" style="background-image: url(<%= asset_path('poison_cover.jpg')%>)">
            <h1 class="text-danger">POISON</h1>
          </div>
        </div>
        <div class="col-3">
          <div class="card-category" style="background-image: url(<%= asset_path('poison_cover.jpg')%>)">
            <h1 class="text-danger">POISON</h1>
          </div>
        </div>
        <div class="col-3">
          <div class="card-category" style="background-image: url(<%= asset_path('poison_cover.jpg')%>)">
            <h1 class="text-danger">POISON</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item row d-flex justify-content-center">
        <div class="col-3">
          <div class="card-category" style="background-image: url(<%= asset_path('poison_cover.jpg')%>)">
            <h1 class="text-danger">POISON</h1>
          </div>
        </div>
        <div class="col-3">
          <div class="card-category" style="background-image: url(<%= asset_path('poison_cover.jpg')%>)">
            <h1 class="text-danger">POISON</h1>
          </div>
        </div>
        <div class="col-3">
          <div class="card-category" style="background-image: url(<%= asset_path('poison_cover.jpg')%>)">
            <h1 class="text-danger">POISON</h1>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
