<div class="cover-forms d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="box-forms p-3">
          <h1>Create an Evil Artifact</h1>
          <%= simple_form_for(@evil_artifact) do |f| %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :category, collection: EvilArtifact::CATEGORIES %>
          <%= f.input :price %>
          <%= f.submit 'Create', class:"btn btn-red mt-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

