<div class="container">
  <h1>Create an Evil Artifact</h1>
  <%= simple_form_for(@evil_artifact) do |f| %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category, collection: EvilArtifact::CATEGORIES %>
  <%= f.input :price %>
  <%= f.submit 'Create!' %>
<% end %>
</div>
