<div>
  <p><%= "Name: #{@evil_artifact.name}" %></p>
  <p><%= "Descripiotion: #{@evil_artifact.description}" %><p>
  <p><%= "Category: #{@evil_artifact.category}" %><p>
  <p><%= "Price: #{@evil_artifact.price}" %><p>
  <p><%= "Owner: #{@evil_artifact.user.codename}" %><p>
</div>

<% if current_user == @evil_artifact.user %>
  <div>
    <%= link_to 'Edit an artifact',  edit_evil_artifact_path(@evil_artifact), class: 'btn btn-danger' %>
    <%= link_to 'Detete this artifact', evil_artifact_path(@evil_artifact), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this item?' } %>
  </div>
<% end %>
