<div>
  <p><%= "Name: #{@evil_artifact.name}" %></p>
  <p><%= "Descripiotion: #{@evil_artifact.description}" %><p>
  <p><%= "Category: #{@evil_artifact.category}" %><p>
  <p><%= "Price: #{@evil_artifact.price}" %><p>
  <p><%= "Owner: #{@evil_artifact.user.codename}" %><p>
</div>
